.word-list li{
  list-style-type: none;
  border-bottom:  1pt solid #cccccc;
  margin-left:2px;
}

.word-list{
  padding-left:2px;
}

span.phrase{
	font-weight: bold;
}

.word-sub-group{
	margin-left: 80px;
	padding-left: 10px;
	background-color: #eeeeee;
}