    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Minidi</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Trang chủ</a></li>
                <li><a href="/dict">Từ điển</a></li>
                <li><a href="/study">Học</a></li>
                <li><a href="/forum">Thảo luận</a></li>
                <li><a href="/search">Tìm kiếm</a></li>
                <li><a href="/intro">Giới thiệu</a></li>
                <li><a href="/help">Hướng dẫn</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Đăng kí</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Đăng nhập</a></li>
            </ul>
        </div>
    </nav>